<div class="mainScoreBoard">
<table>
<thead>
<tr>
		<td class="cellSize">
		</td>
		<td  class="cellSize  teamName" ng-repeat-start="team in teams" ng-style="{'background-color': team.color }">		
    	{{team.name}}
		</td>
		<td ng-repeat-end>
		</td>
</tr>
</thead>
<tbody ng-repeat="challengeScore in challengesScore">
<tr>
	<th  class="cellSize  gameName">	

	<a ng-if="!challengeScore.total" href="#!/playgame/challenge/{{challengeScore.challenge.idr}}">	
    {{challengeScore.challenge.name}}
    </a>
    <span ng-if="challengeScore.total">
    {{challengeScore.challenge.name}}
    </span>
	</th>
	<td  class="cellSize scoreDisplay" ng-repeat-start="challengeScore1 in challengeScore.challengeScores">		
     {{challengeScore1.point}}
	</td>	
	<td ng-repeat-end>
	</td>
</tr >
</tbody>


</table>
	
</div>
