<div class="mainScoreBoard">
<table>
<thead>
<tr>
		<td >
		</td>
		<td  class="cellSize teamNameMobile" ng-repeat="team in teams" ng-style="{'background-color': team.color }">		
    	{{team.name}}
		</td>
</tr>
</thead>
<tbody ng-repeat="challengeScore in challengesScore">
<tr>
	<th  >	

	<a ng-if="!challengeScore.total" href="#!/playgame/challenge/{{challengeScore.challenge.idr}}">	
    {{challengeScore.challenge.name}}
    </a>
    
    
    <span ng-if="challengeScore.total">
    {{challengeScore.challenge.name}}
    </span>
	</th>
<!-- 
	Corps du tableau
 -->
	<td   ng-if="!challengeScore.total" class="scoreDisplayMobile cellSize" ng-repeat="challengeScore1 in challengeScore.challengeScores">		
     {{challengeScore1.pointRank}}
	</td>	

	<td ng-if="challengeScore.total"  class="scoreDisplayMobile totalLineMobile cellSize" ng-repeat="challengeScore1 in challengeScore.challengeScores">		
     <div ng-style="{'background-color': challengeScore1.color}">
     {{challengeScore1.pointRank}}
   
     </div>
	</td>	
	
	
</tr >
</tbody>


</table>
	
</div>
