/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.mainScoreBoard {
  padding: 20px;
 }

.cellSize {
  width: 140px;
}

.teamName {
  width: 130px;
  font-size: 20pt;
  font-weight: bold;
text-align: center;
}
.matchPassed{
	 border-style: solid;
    border-width: 2px;
}
.matchPassed-score{
	width: 40px;
    background-color: #FFFFFF;
font-weight: bold;
text-align: center;
}

.gameName {
  font-size: 16pt;
  font-weight: bold;
}
.scoreDisplay {
  font-size: 25pt;
  width: 130px;
  text-align: center;
  font-weight: bold;
  background-color: white;
}

.scoreTop {
  width: 140px;
  display: inline-block;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
